.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.03);
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 2px 0px, rgba(25, 28, 33, 0.06) 0px 1px 2px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
    padding: 20px;
}

h1 {
    margin: 0;
    margin-bottom: 10px;
}